{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron" style="background-color: #0033;">
        <h1 class="display-4">АВТОМАТИЧЕСКАЯ ТОРГОВЛЯ!</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Полностью автоматизированный инструмент, который самостоятельно управляет капиталом и показывает доходность до 50% в месяц!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" style="background-color: red;" href="{% url 'index' %}" role="button">XFactor-ni oling</a>
        </p>
    </div>
{% endblock content %}